.app-layout {
  @apply flex flex-row;
}

.app-content-loading {
  @apply flex justify-center items-center min-h-[calc(100vh-64px)];
}

.app-main-content {
  @apply h-full;
}

.app-spinner-container {
  @apply flex-1 flex justify-center items-center;
}

.error-line-highlight {
  background-color: rgba(255, 200, 0, 0.3) !important;
  animation: error-line-fade 2s ease-out forwards;
}

@keyframes error-line-fade {
  0% {
    background-color: rgba(255, 200, 0, 0.4);
  }

  100% {
    background-color: transparent;
  }
}