@import "normalize.css";

html,
body {
  font-family: "Rubik", Helvetica, Arial, sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
}

html[data-theme="dark"] {
    --bg-color: #121212;
    --text-color: #ffffff;
    --border-color: #444444;
    --active-bg-color: #333333;
    --active-text-color: #ffffff; 
    --hover-bg-color: #444444;
    --hover-text-color: #ffffff;
}

html[data-theme="light"] {
    --bg-color: #ffffff;
    --text-color: #121212;
    --border-color: #ddd;
    --active-bg-color: #e0e0e0;
    --active-text-color: #1b2540; 
    --hover-bg-color: #e0e0e0;
    --hover-text-color: #050c40;
}
.hamburger-menu {
  display: none;
  font-size: 30px;
  cursor: pointer;
  position: fixed !important;
  top: 80px;
  right: 40px;
  z-index: 1000;
}

.hamburger-hidden {
  transform: translateY(-120px);
}

@media (max-width:768px) {
  .hamburger-menu {
    display: block;
  }
}